adal==1.2.7
adlfs==0.7.6
aiohttp==3.7.4.post0
applicationinsights==0.11.10
asciitree==0.3.3
async-timeout==3.0.1
attrs==21.2.0
azure-common==1.1.27
azure-core==1.13.0
azure-cosmos==3.1.2
azure-datalake-store==0.0.52
azure-graphrbac==0.61.1
azure-identity==1.5.0
azure-mgmt-authorization==1.0.0
azure-mgmt-containerregistry==2.8.0
azure-mgmt-core==1.2.2
azure-mgmt-keyvault==9.0.0
azure-mgmt-resource==8.0.1
azure-mgmt-storage==17.1.0
azure-storage-blob==12.8.1
azureml-automl-core==1.0.85.5
azureml-core==1.0.85.6
azureml-dataprep==1.1.38
azureml-dataprep-native==13.2.0
azureml-pipeline==1.0.85
azureml-pipeline-core==1.0.85.1
azureml-pipeline-steps==1.0.85
azureml-sdk==1.0.85
azureml-telemetry==1.0.85.2
azureml-train==1.0.85
azureml-train-automl-client==1.0.85.4
azureml-train-core==1.0.85
azureml-train-restclients-hyperdrive==1.0.85
backports.tempfile==1.0
backports.weakref==1.0.post1
bokeh==2.3.2
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
contextlib2==0.6.0.post1
croniter==0.3.37
cryptography==3.4.7
dask==2021.6.0
dask-kubernetes==2021.3.1
distributed==2021.6.0
distro==1.5.0
docker==5.0.0
dotnetcore2==2.1.20
entrypoints==0.3
fasteners==0.16
flake8==3.7.9
fsspec==2021.6.0
fusepy==3.0.1
google-auth==1.30.0
h5netcdf==0.11.0
h5py==3.2.1
HeapDict==1.0.1
idna==2.10
isodate==0.6.0
jeepney==0.6.0
jmespath==0.10.0
jsonpickle==2.0.0
kubernetes==12.0.1
kubernetes-asyncio==12.1.0
locket==0.2.1
marshmallow==3.12.1
marshmallow-oneofschema==2.1.0
mccabe==0.6.1
msal==1.11.0
msal-extensions==0.3.0
msgpack==1.0.2
msrest==0.6.21
msrestazure==0.6.4
multidict==5.1.0
mypy-extensions==0.4.3
natsort==7.1.1
ndg-httpsclient==0.5.1
numcodecs==0.7.3
numpy==1.20.3
oauthlib==3.1.0
pandas==1.2.4
# pangeo-forge-recipes==0.3.3
# git+https://github.com/pangeo-forge/pangeo-forge-recipes.git@002aa837bbb440f6fe09d1346ebb2957aee68cca
git+https://github.com/TomAugspurger/pangeo-forge.git@feature/lock-timeout
partd==1.2.0
pathspec==0.8.1
pendulum==2.1.2
pip==21.1.1
portalocker==1.7.1
prefect==0.14.19
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycparser==2.20
pyflakes==2.1.1
PyJWT==2.1.0
pyOpenSSL==20.0.1
python-box==5.3.0
python-dateutil==2.8.1
python-dotenv==0.17.1
python-slugify==5.0.2
pytz==2021.1
pytzdata==2020.1
PyYAML==5.4.1
rechunker==0.4.2
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
ruamel.yaml==0.15.89
SecretStorage==3.3.1
setuptools==56.0.0
six==1.16.0
sortedcontainers==2.3.0
tabulate==0.8.9
tblib==1.7.0
text-unidecode==1.3
toml==0.10.2
toolz==0.11.1
tornado==6.1
typing-extensions==3.10.0.0
urllib3==1.26.4
websocket-client==0.59.0
wheel==0.36.2
xarray==0.18.0
yarl==1.6.3
zarr==2.7.0
zict==2.0.0
